.App-current-page {
    h3 {
        font-size: 35px;
    }
    justify-content: center;
    font-size: calc(10px + 2vmin);
    padding-right: 20%;
    padding-left: 20%;

    .App-verb-search {
        display: flex;
        flex-direction: row;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
        text-align: center;
        font-size: 25px;
        color: darkgreen;
        padding-bottom: 10px;

        input {
            height: 18px;
            margin-left: 10px;
        }

        label {
            vertical-align: middle;
            text-align: center;
        }
    }
}

label {
    display: inline-block;
    text-align: right;
}