.App {
  text-align: center;
  background-color: lightgreen;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: lightgreen;

  h1 {
    color: darkgreen;
  }
}

header {
  background-color: lightgreen;
}

.App-link {
  color: #09d3ac;
}

.App-current-page {
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: lightgreen;

  h2 {
    color: green;
  }
}
