.App {
  text-align: center;
  background-color: lightgreen;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: lightgreen;

  h1 {
    color: darkgreen;
    padding: 0;
    margin: 30px;
  }
}

header {
  background-color: lightgreen;
}

.App-link {
  color: #09d3ac;
}

.App-current-page {
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: lightgreen;

  h2 {
    color: green;
  }
}


// navbar styles to be move
.container {
  background-color: green;
  height: 40px;
  width: 100%;
  margin: 0 auto;

  nav {
    text-align: center;
  }
}

nav ul {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  text-align: center;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0 100px;
  padding-top: 2px;
}

.nav-link {
  color: rgb(28, 241, 28);
  text-decoration: none;
  text-transform: uppercase;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

