.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  h1 {
    color: green;
  }
}

.App-link {
  color: #09d3ac;
}
