html, body {
  background: rgb(119, 230, 119);
}

html {
  display: flex;
  flex-direction: row;
  width: 100%;
}

body {
  margin: 0;
  font-family: Jazz LET, fantasy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex-grow: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
