.parser-container-frame {
    margin-top: 50px;
    border-top: solid 4pt green;
    border-bottom: solid 4pt green;
    width: 100%;

    h2 {
        color: green;
        text-align: left;
        font-size: 30px;
    }

    h3 {
        color: green;
        text-align: left;
        font-size: 25px;
    }
}

.parser-container-entry {
    width: 100%;
    height: 50px;
    padding-top: 0px;
    resize: none;
    padding-bottom: 20px;
    margin-bottom: 20px;
    outline: none;
    font-family: "Optima, sans-serif";
    font-size: 15px;
}

.parser-options {
    width: 100%;
    display: inline-block;
    padding-bottom: 10px;
}

.parser-loading-spinner {
    float: left;
    width: 10%;
}

.parser-tokens {
    width: 100%;
    display: inline-block;

    div {
        width: 50%;
        float: left;
    }
}

button {
    margin-bottom: 20px;
    color: rgb(8, 243, 0);
    background-color: green;
    outline: none;
    width: 20%;
    height: 50px;
    float: left;
}