.verbContainer {
    width: 100%;
    padding-bottom: 80px;
}

.verbTable {
    width: 50%;
    th {
        text-align: left;
        padding-bottom: 5px;
        text-transform: capitalize;
        background-color: green;
    }
    td {
        background-color: rgb(247, 238, 238);
        text-align: left;
        width: 50%;
    }
}

.verbContainerOptions {
    background-color: red;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}